{{ define "main" }}
<div class="container">
  <div>
    <strong><a href="/">Blog</a></strong>
  </div>
  <h1 class="clear">Prototypes</h1>
  <div style="color: #444;">Machine learning prototypes and interactive notebooks</div>
  <div class="spacer"></div>
</div>

<div id="prototypes-holder" style="display: grid; grid-template-columns: repeat(auto-fit, 32ch); grid-auto-rows: 360px; justify-content: center; max-width: 128ch; margin: 0 auto;">
  {{ range .Site.Data.prototypes.experiments }}
  {{ partial "prototype_link.html" . }}
  {{ end }}
</div>

{{ end }}
