{{ define "main" }}
<div class="container">
  <div>
    <strong><a href="/">Blog</a></strong>
  </div>
  <h1 class="clear">Prototypes</h1>
  <div style="color: #444;">Machine learning prototypes and interactive notebooks</div>
  <div class="spacer"></div>
</div>

<div id="prototypes-holder" style="">
  {{ range .Site.Data.prototypes.experiments }}
  {{ partial "prototype_link.html" . }}
  {{ end }}
</div>

{{ partial "about.html" . }}

<div class="spacer"></div>
<div class="spacer"></div>

{{ end }}
