<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
      <div style="padding-bottom: 1rem">
        <h2 style="margin-top: 0; margin-bottom: 0px;">About</h2>
        <p style="margin-bottom: 0px;">
          Cloudera Fast Forward is an applied machine learning research group.
        </p>
        <a
          href="https://www.cloudera.com/products/fast-forward-labs-research.html"
          >Cloudera</a
        >&nbsp;
        <a href="http://experiments.fastforwardlabs.com">Experiments</a>&nbsp;
        <a href="https://twitter.com/fastforwardlabs">Twitter</a>
        <p></p>
      </div>
    </div>
  </body>
</html>
