<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {{ block "head" . }}{{ end }}
    <link rel="stylesheet" type="text/css" href="/style.css" />
    {{ template "_internal/google_analytics_async.html" . }}
  <body>
  </head>
      <div class="container">
        <div class="spacer"></div>
        <div style="height: 1.5rem; padding-top: 0.35rem;">
          <a target="_blank" href="https://www.cloudera.com/products/fast-forward-labs-research.html">
            <img style="height: 0.8rem;" src="/images/cloudera-fast-forward-logo.png" />
          </a>
        </div>
        <div class="spacer"></div>
      </div>
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
 </body>
</html>
