<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  <body>
  </head>
      <div class="container">
        <div class="spacer"></div>
        <div style="height: 1.5rem; padding-top: 0.35rem;">
          <a target="_blank" href="https://www.cloudera.com/products/fast-forward-labs-research.html">
            <img style="height: 0.8rem;" src="/images/cloudera-fast-forward-logo.png" />
          </a>
        </div>
        <div class="spacer"></div>
      </div>
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
      <div class="container">
        <div>
          <h1 class="clear">About</h1>
          <div>
              Cloudera Fast Forward is an applied machine learning reseach group.<br />
            <a
              href="https://www.cloudera.com/products/fast-forward-labs-research.html"
              >Cloudera</a
            >&nbsp;&nbsp;
            <a
              href="https://blog.fastforwardlabs.com"
              >Blog</a
            >&nbsp;&nbsp;
            <a href="https://twitter.com/fastforwardlabs">Twitter</a>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
      </div>
  </body>
</html>
