{{ define "main" }}
{{ $pages := .Site.RegularPages.ByDate.Reverse }}
{{ $paginator := .Paginate $pages }}

<div class="container">
  <div>
    <strong><a href="/">Blog</a></strong>
  </div>

  <h1 class="clear">Posts</h1>
  <div class="spacer"></div>

  {{ if (ne $paginator.PageNumber 1) }}
  <div style="display: flex;">
    Page:&nbsp; {{ template "_internal/pagination.html" . }}
  </div>
  <div class="spacer"></div>
  {{ end }}

  <div id="posts-holder"> 
    {{ range (.Paginate $pages).Pages }}
      {{ partial "post_link.html" . }}
    {{ end }}
  </div>

  <div style="display: flex;">
    Page:&nbsp; {{ template "_internal/pagination.html" . }}
  </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

{{ end }}
