<div>
  <h5 style="margin-bottom: 0px;">
    <span>{{ .Date.Format "Jan 2, 2006" }}</span> &middot;
    <span style="text-transform: capitalize;">
      {{ lower (cond (isset .Params "post_type") .Params.post_type "Post") }}
    </span>
  </h5>
  {{ if (isset .Params "external_url") }}
  <div><a href="{{ .Params.external_url }}" target="_blank">
      <strong>{{.Title}} 🡕</strong></a></div>
  {{ else }}
    <div><a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a></div>
  {{ end }}
  <div class="spacer"></div>
</div>

