<div style="display: flex; flex-direction: column; position: relative; padding-left: 1ch; padding-right: 1ch; height: 360px;">
  <div>
    <h5 style="margin-bottom: 0">{{ .head }}</h5>
    <h2 style="padding-top: 0; margin-bottom: 0;"><a href="{{ .url }}" target="_blank">{{ .name }}</a></h2>
  </div>
  <div style="flex: 1 1 auto; position: relative;">
    <a href="{{ .url }}" target="_blank" style="display: block; position: absolute; top: 0.375rem; width: 100%; height: calc(100% - 0.875rem); background-image: url('https://experiments.fastforwardlabs.com{{ .image }}'); background-size: contain; background-position: center left; background-repeat: no-repeat;"></a>
  </div>
  <div>
    <div class="small">{{ .description }}</div>
    <div style="width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="{{ .url }}" target="_blank">{{ .url }}</a></div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>

