<div style="position: relative; padding-left: 33ch;">
  <h5 style="margin-bottom: 0">{{ .number }}</h5>
  <h2 style="padding-top: 0; margin-bottom: 4px;"><a href="{{ .link }}" target="_blank">{{ .name }}</a></h2>
  <a href="{{ .link }}" target="_blank" style="display: block; position: absolute; left: 0; top: 0;">
    <img style="max-width: 31ch; display: block;" src="/images/reports/{{ .img }}" />
  </a>
  <div class="small">{{ .blurb }}</div>
  <div><a href="{{ .link }}" target="_blank">Read the report&nbsp; →</a></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>

