{{ define "main" }} {{ $pages := .Paginate .Site.RegularPages.ByDate.Reverse }}
<!-- split -->
{{ $paginator := .Paginate $pages }}
<div class="spacer"></div>
<a href="https://www.cloudera.com/products/fast-forward-labs-research.html">
  <img style="height: 0.8rem;" src="/images/cloudera-fast-forward-logo.png" />
</a>
<div>
  {{ $dataJ := getJSON "https://experiments.fastforwardlabs.com/experiments.json" }}
  <!-- split -->
  {{ range first 5 $dataJ.experiments }}
  <li>{{ .name }}</li>
  {{ end }}
</div>
<div class="spacer"></div>
<div class="front">
  <h1>{{ .Title }}</h1>
  {{ if (ne ($paginator.PageNumber) 1) }}
  <div class="pagination-holder">
    Page: {{ template "_internal/pagination.html" . }}
  </div>
  {{ end }} {{ range $paginator.Pages }}
  <div class="post-link" style="position: relative">
    <h5 style="margin-bottom: 4px;">
      <span>{{ .Date.Format "Jan 2, 2006" }}</span> &middot;
      <span style="text-transform: capitalize;">
        <!-- split -->
        {{ lower (cond (isset .Params "post_type") .Params.post_type "Post") }}
        <!-- split -->
      </span>
    </h5>
    {{ if (isset .Params "preview_image") }}
    <a href="{{ .RelPermalink }}" class="preview-image-holder">
      <img class="preview-image" src="{{ .Params.preview_image }}" />
    </a>
    {{ end }}
    <div>
      {{ if (isset .Params "external_url") }}
      <a href="{{ .Params.external_url }}">
        <h2 style="margin-bottom: 4px;">{{.Title}}</h2></a
      >
      {{ else }}
      <a href="{{ .RelPermalink }}"
        ><h2 style="margin-bottom: 4px;">{{.Title}}</h2></a
      >
      {{ end }}
    </div>
    <div class="small" style="height: 4.5em; overflow: hidden;">
      {{ if (isset .Params "author") }}
      <span>
        by {{ if (isset .Params "author_link") }}
        <span
          ><a href="{{ .Params.author_link }}">{{ .Params.author }}</a>
          &middot; </span
        >{{ else }} {{ .Params.author }} &middot; {{ end }}
      </span>
      {{ end }}{{ .Summary }}
    </div>
    <div
      style="width:100%;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
    >
      {{ if (isset .Params "external_url") }}
      <a href="{{ .Params.external_url }}">
        <!-- split -->
        {{ replace (replace .Params.external_url "https://" "") "http://" ""}}
      </a>
      {{ else }}
      <a href="{{ .RelPermalink }}">...read more</a>
      {{ end }}
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  {{ end }}
  <div class="pagination-holder">
    Page: {{ template "_internal/pagination.html" . }}
  </div>
</div>
  <script>
    window.addEventListener('load', () => {
      console.log('hi')
    })
  </script>
{{ end }}
