{{ define "main" }}
<div  class="container">
  <h1 class="clear">{{ .Title }}</h1>
  <div style="color: #444;">Machine learning research and strategy</div>
  <div class="spacer"></div>
  {{ partial "latest_posts.html" . }}
  {{ partial "popular_posts.html" . }}
</div>

<div class="spacer"></div>
<div style="background: #efefef;">
  <div class="spacer"></div>
  <div class="spacer"></div>
  {{ partial "reports.html" . }}
</div>

<div class="spacer"></div>
<div class="spacer"></div>

{{ partial "prototypes.html" . }}

<div class="spacer"></div>
<div class="spacer"></div>

{{ end }}
