{{ define "head" }}
{{ $title := "Cloudera Fast Forward Blog" }}
{{ $description := "Applied machine learning research and prototypes." }}
<title>{{ $title }}</title>
<meta property="description" content="{{ $description }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:image" content="{{ .Site.BaseURL }}/blog.png">
<meta property="og:url" content="{{ .Site.BaseURL }}">
<meta property="twitter:card" content="summary_large_image">
{{ with .OutputFormats.Get "rss" -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
{{ end }}


{{ define "main" }}
<div  class="container">
  <h1 class="clear">{{ .Title }}</h1>
  <div style="color: #444;">Machine learning research and strategy</div>
  <div class="spacer"></div>
  {{ partial "latest_posts.html" . }}
  {{ partial "popular_posts.html" . }}
</div>

<div class="spacer"></div>
<div style="background: #efefef;">
  <div class="spacer"></div>
  <div class="spacer"></div>
  {{ partial "reports.html" . }}
</div>

<div class="spacer"></div>
<div class="spacer"></div>

{{ partial "prototypes.html" . }}

<div class="spacer"></div>
<div class="spacer"></div>

{{ partial "about.html" . }}

<div class="spacer"></div>
<div class="spacer"></div>

{{ end }}
